* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

img {
    max-width:100%;
}

ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

ul * {
    margin:0;
    padding:0;
}

ul * > a {
    text-decoration:0;
    color:var(--color-text-grey);
}

/* Debug */

/* * {
    outline:1px dashed red;
} */