/* Desktop Section */

/* SubHuman Desktops */
@media screen and (max-width:3500px) {
    .desktop-1-6 {
        width:calc((100% / 10) - 20px);
        margin:0 10px 25px;
    }
}

/* Human Desktops */
@media screen and (max-width:2148px) {
    .desktop-1-6 {
        width:calc((100% / 6) - 20px);
        margin:0 10px 25px;
    }
}

/* Laptop */
@media screen and (max-width:1100px) {

    .laptop-1-4 {
        width:calc((100% / 4) - 20px);
        margin:0 10px 25px;
    }
}

/* Tablet */
@media screen and (max-width:768px) {

    .tablet-1-2 {
        width:calc((100% / 2) - 20px);
        margin:0 10px 25px;
    }

}

@media screen and (max-width:500px) {
    #media-player > .music-volume.flex {
        display:none;
    }

    #media-player {
        justify-content: flex-start;
        align-items: center;
    }

    #media-player > .music-desc {
        width:200px;
        margin-right:5px;
    }

    #media-player > .music-desc > .desc {
        padding-right:0;
    }

    :root {
        --nav-bar-width:60px;
    }

    #nav-bar > .big-logo {
        display:none;
    }

    #nav-bar > .small-logo {
        display:block;
        width:70px;
    }

    #nav-bar > .aside-top > * > span {
        display:none;
    }

    #nav-bar > .aside-top > .home {
        border:none;
    }

    #nav-bar > .aside-middle > * {
        display:none;
    }

    #nav-bar > .aside-bottom > * {
        border:none;
        justify-content: center;
    }

    #nav-bar > .aside-bottom > * > p {
        display:none;
    }

}