/* Desktop Section */

/* SubHuman Desktops */
@media screen and (max-width:3500px) {
    .desktop-1-6 {
        width:calc((100% / 10) - 20px);
        margin:0 10px 25px;
    }
}

/* Human Desktops */
@media screen and (max-width:2148px) {
    .desktop-1-6 {
        width:calc((100% / 6) - 20px);
        margin:0 10px 25px;
    }
}

/* Laptop */
@media screen and (max-width:1100px) {

    .laptop-1-4 {
        width:calc((100% / 4) - 20px);
        margin:0 10px 25px;
    }
}

/* Tablet */
@media screen and (max-width:768px) {

    .tablet-1-2 {
        width:calc((100% / 2) - 20px);
        margin:0 10px 25px;
    }

    .audio-settings.col-1-3 {
        display:none;
    }

    .col-1-3 {
        width:calc(100% / 2);
        padding: 0 40px;
    }

    #media-player {
        justify-content: space-around;
        overflow:hidden;
        padding:0 20px;
    }

    .player.col-1-3 > .interactions.flex > i {
        width:5px;
    }

}