
/* Main */

#browser-application {
    width:100%;
    height:calc(100vh - var(--media-player-height) );
    margin:auto;
}

/* Nav Bar */
#browser-application > #nav-bar {
    width:var(--nav-bar-width);
    height:100%;
    padding:20px 0;
}

#nav-bar > .container {
    padding-right:10px;
}

#nav-bar > .container > .big-logo {
    padding: 0 20px;
    max-width:200px;
}

#nav-bar > .container > .small-logo {
    display:none;
}

#nav-bar > .container > .buttons {
    padding-top:20px;
}

#nav-bar > .container > .buttons > div {
    padding-left:20px;
}

#nav-bar > .container > .buttons > div > a {
    color:var(--color-text-grey);
    text-decoration:none;
}

#nav-bar > .container > .buttons > div > a > i {
    font-size:2rem;
    margin:10px 0;
}

#nav-bar > .container > .buttons > div:nth-of-type(2) > a > i {
    margin-right:5px;
}

#nav-bar > .container > .buttons > div > a > .button-desc {
    margin:0 10px;
    font-size:1rem;
    vertical-align: middle;
}

#nav-bar > .container > .buttons > div:first-of-type > a {
    color:white;
}

#nav-bar > .container > .buttons > div:first-of-type,
#nav-bar > .container > .buttons > div:hover {
    border-left:3px solid #ADFF2F;
}

#nav-bar > .container > .buttons > div:hover > a {
    color:white;
}

#nav-bar > .container > .buttons > div > a:focus {
    color:white;
}

#nav-bar > .container > .playlist {
    padding: 0 20px;
    color: white;
    margin: 20px 0;
    font-size:1.15rem;
}

/* Media Browser */
#browser-application > #media-browser {
    width:calc(100% - var(--nav-bar-width));
    height:100%;
}

/* Sticky Upgrade Section */
#media-browser > .browsing-list > .upgrade-bar {
    height:100px;
    width:calc(100% - var(--nav-bar-width));
    justify-content: flex-end;
    color:white;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.5);
    top:0;
    right:0;
    z-index: 1;
}

#media-browser > .browsing-list > .upgrade-bar > .upgrade-button {
    padding:10px 40px;
    border-radius:20px;
    border:1px solid white;
    margin-right:15px;
    transition: transform 1s;
}

#media-browser > .browsing-list > .upgrade-bar > .upgrade-button:hover {
    cursor:pointer;
    transform: scale(1.1, 1.1);
}

/* Music Browsing */
#media-browser > .browsing-list {
    height:100%;
    padding:20px;
    color:white;
    margin:auto;
    overflow-y:scroll;
    scrollbar-width:none;
}

#media-browser > .browsing-list > .navigator.flex {
    justify-content: center;
    margin-top:90px;
}

#media-browser > .browsing-list > .navigator.flex > li {
    padding:10px 10px;
}

#media-browser > .browsing-list > .navigator.flex > li:hover > span > a {
    color:white;
}

#media-browser > .browsing-list > .navigator.flex > li > span > a:focus {
    color:white;
}

#media-browser > .browsing-list > .navigator.flex > li:hover > .underline-li {
    background-color: #ADFF2F;
}

#media-browser > .browsing-list > .navigator.flex * > a {
    font-weight:bold;
    font-size:0.8rem;
}

#media-browser > .browsing-list > .navigator.flex * > .underline-li {
    width:40%;
    height:2px;
    margin:4px auto;
}

/* Playlists Section */

#media-browser > .browsing-list > .playlists-section {
    max-height:calc(100% - 30px);
    width:100%;
    margin-bottom:20px;
}

#media-browser > .browsing-list > .playlists-section > .my-row.flex.wrap {
    padding-bottom:30px;
}

.browsing-list .my-col-section > h2 {
    margin:20px 0;
}

.browsing-list > .playlists-section .my-row .my-row {
    text-align: center;
    margin:0 -10px;

}

.browsing-list > .playlists-section .my-row > .my-col > .img-container {
    position:relative;
}

.browsing-list > .playlists-section .my-row > .my-col > .img-container > .play-button {
    display:none;
    font-size:3.5rem;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.browsing-list > .playlists-section .my-row > .my-col:hover > .img-container > .play-button {
    display:block;
    cursor:pointer;
}

.browsing-list > .playlists-section .my-row > .my-col:hover > .img-container > img {
    filter:blur(2px);
    cursor:pointer;
}
.browsing-list > .playlists-section .my-row > .my-col > h3 {
    padding:10px 0;
}

.browsing-list > .playlists-section .my-row > .my-col > p {
    font-size:0.9rem;
    color:var(--color-text-grey);
    font-weight:600;
}


/* Media Player */
/* Overview */
#media-player {
    height:var(--media-player-height);
    color:white;
}

#media-player > * {
    border: 1px solid black;
    padding: 0 5px;
}

#media-player > .music-desc > .desc {
    padding:0 10px;
}

#media-player > .music-desc {
    width:250px;
    height:100%;
    vertical-align:middle;
    align-items:center;
}

#media-player > .music-desc.flex > .desc > p {
    font-size:0.7rem;
    color:var(--color-text-grey);
    font-weight:bold;
}

.music-desc > .current-music {
    width:45px;
    height:45px;
    background-image:url("../img/einaudi.jpeg");
    background-size:cover;
    background-position:center;
}

.music-desc > .icons.flex > i {
    padding:5px;
    color:#5A5A5A;
}

.music-player {
    width:40%;
    height:100%;
}

.music-player > .top {
    margin-top:10px;
}

.music-player > .top > ul.flex {
    justify-content: center;
    align-items: center;
}

.music-player > .top > ul.flex > li > i {
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
}

.music-player > .top > ul.flex > li > i.big {
    font-size:30px;
}

.music-player > .bottom.flex {
    justify-content: center;
    align-items: center;
}

.music-player > .bottom.flex > .bar {
    width: 80%;
    margin: 0 10px;
    height: 5px;
    border-radius:5px;
    background-color: #5A5A5A;
}



.music-player > .bottom.flex > span {
    font-size: 11px;
}

.music-volume.flex {
    width:250px;
    height:100%;
    justify-content: flex-end;
    align-items: center;
}

.music-volume.flex > i {
    padding:5px 10px;
}

.music-volume.flex > .bar {
    width: 80%;
    margin: 0 10px;
    height: 5px;
    border-radius:5px;
    background-color: #5A5A5A;
}

.music-volume.flex > .bar > .time-gone,
.music-player > .bottom.flex > .bar > .time-gone {
    width:25%;
    height:5px;
    border-radius:5px;
    background-color:#C1C1C1;
}




