
/* Main */

#browser-application {
    width:100%;
    height:calc(100vh - 110px );
}

#browser-application > #nav-bar {
    width:15%;
    height:100%;

}

#browser-application > #media-browser {
    width:85%;
    height:100%;
    outline:1px solid red;
}

#media-browser > .upgrade-bar {
    height:100px;
    width:100%;
    background-color:rgba(0,0,0,0.3);
}

/* Media Player */
/* Overview */
#media-player {
    min-height:100px;
    max-height:120px;
    color:white;
}

#media-player > .overview {
    padding:10px;
    align-items:center;
}

#media-player > .overview > .square {
    width:60px;
    height:60px;
    margin-right:10px;
    background-image: url("../img/player_left.jpg");
    background-size:cover;
}

#media-player > .overview > .song-description {
    margin-right:15px;
}

#media-player > .overview > .song-description > p { 
    padding-top:10px;
    font-size:0.8rem;
}

#media-player > .overview > .song-description > p > span {
    font-size:0.7rem;
    color:var(--color-grey);
}

#media-player > .overview.flex > .interactions > i {
    padding:0 10px;
    color:var(--color-grey);
}

/* Player */

#media-player > .player > .interactions {
    padding:10px;
    justify-content:center;
    align-items:flex-end;
}

#media-player > .player > .interactions > i:not(.big) {
    font-size:1.2rem;
}

#media-player > .player > .interactions > i {
    padding:10px;
    margin:0 10px;
}

#media-player > .player > .time.flex > .time-current,
#media-player > .player > .time.flex > .time-left {
    padding-top:5px;
    font-size:0.8rem;
    padding-bottom:20px;
}

#media-player > .player > .time.flex > .bar {
    width:500px;
    height:5px;
    border-radius:15px;
    margin:10px 20px;
    background-color:#5A5A5A;
} 

/* Audio Settings */

#media-player > .audio-settings {
    align-items:center;
    color:white;
}

#media-player > .audio-settings > i {
    padding:10px;
}

#media-player > .audio-settings > .bar {
    width:200px;
    margin:0 8px;
}



