
/* Main */

#browser-application {
    width:100%;
    height:calc(100vh - 100px );
}

/* Nav Bar */
#browser-application > #nav-bar {
    width:10%;
    height:100%;
}

/* Media Browser */
#browser-application > #media-browser {
    width:90%;
    height:100%;
}

/* Sticky Upgrade Section */
#media-browser > .browsing-list > .upgrade-bar {
    height:100px;
    width:100%;
    justify-content: flex-end;
    color:white;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.5);
    top:0;
    left:0;
}

#media-browser > .browsing-list > .upgrade-bar > .upgrade-button {
    padding:10px 40px;
    border-radius:20px;
    border:1px solid white;
    margin-right:15px;
    transition: transform 1s;
}

#media-browser > .browsing-list > .upgrade-bar > .upgrade-button:hover {
    cursor:pointer;
    transform: scale(1.1, 1.1);
}

/* Music Browsing */
#media-browser > .browsing-list {
    height:100%;
    padding:20px;
    color:white;
    margin:auto;
    overflow-y:scroll;
    scrollbar-width:none;
}

#media-browser > .browsing-list > .navigator.flex {
    justify-content: center;
    margin-top:90px;
}

#media-browser > .browsing-list > .navigator.flex > li {
    padding:10px 10px;
}

#media-browser > .browsing-list > .navigator.flex > li:hover > span > a {
    color:white;
}

#media-browser > .browsing-list > .navigator.flex > li > span > a:focus {
    color:white;
}

#media-browser > .browsing-list > .navigator.flex > li:hover > .underline-li {
    background-color: #ADFF2F;
}

#media-browser > .browsing-list > .navigator.flex * > a {
    font-weight:bold;
    font-size:0.8rem;
}

#media-browser > .browsing-list > .navigator.flex * > .underline-li {
    width:40%;
    height:2px;
    margin:4px auto;
}

/* Playlists Section */

#media-browser > .browsing-list > .playlists-section {
    max-height:calc(100% - 30px);
    width:100%;
    margin-bottom:20px;
}

#media-browser > .browsing-list > .playlists-section > .my-row.flex.wrap {
    padding-bottom:30px;
}

.browsing-list .my-col-section > h2 {
    margin:20px 0;
}

.browsing-list > .playlists-section .my-row .my-row {
    text-align: center;
    margin:0 -10px;

}

.browsing-list > .playlists-section .my-row > .my-col > h3 {
    padding:10px 0;
}

.browsing-list > .playlists-section .my-row > .my-col > p {
    font-size:0.9rem;
    color:var(--color-text-grey);
    font-weight:600;
}


/* Media Player */
/* Overview */
#media-player {
    height:100px;
    color:white;
}

#media-player > .overview {
    padding:0 15px;
    align-items:center;
}

#media-player > .overview > .square {
    width:60px;
    height:60px;
    margin-right:10px;
    background-image: url("https://cdns-images.dzcdn.net/images/cover/621c706e3416c6c52671ab7fe11878f6/350x350.jpg");
    background-size:cover;
}

#media-player > .overview > .song-description {
    margin-right:15px;
}

#media-player > .overview > .song-description > p { 
    /* padding-top:10px; */
    font-size:0.8rem;
}

#media-player > .overview > .song-description > p > span {
    font-size:0.7rem;
    color:var(--color-grey);
}

#media-player > .overview.flex > .interactions > i {
    padding:0 10px;
    color:var(--color-grey);
}

/* Player */

#media-player > .player > .interactions {
    padding:5px;
    justify-content:center;
    align-items:flex-end;
}

#media-player > .player > .interactions > i:not(.big) {
    font-size:1.2rem;
}

#media-player > .player > .interactions > i {
    padding:10px;
    margin:0 10px;
}

#media-player > .player > .time.flex > .time-current,
#media-player > .player > .time.flex > .time-left {
    padding-top:5px;
    font-size:0.8rem;
    padding-bottom:20px;
}

#media-player > .player > .time.flex > .bar {
    width:500px;
    height:5px;
    border-radius:15px;
    margin:10px 20px;
    background-color:#5A5A5A;
} 

/* Audio Settings */

#media-player > .col-1-3 {
    max-width:calc(100% / 3);
}

#media-player > .audio-settings {
    align-items:center;
    color:white;
}

#media-player > .audio-settings > i {
    padding:10px;
}

#media-player > .audio-settings > .bar {
    width:200px;
    margin:0 8px;
}



