
/* Colors */
.dark-blue-bg {
    background-color: #141922;
}

.grey-bg {
    background-color: #282828;
}

.black-bg {
    background-color: #000000;
}

:root {
    --color-grey: #838383;
    --color-text-grey:#797C80;
    --nav-bar-width:250px;
}

/* General */

.flex {
    display:flex;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap:wrap;
}

.my-col-section {
    width:100%;
}

.style-bar {
    height:5px;
    border-radius:15px;
    background-color:#5A5A5A;
}

.style-time-bar {
    background-color: #C1C1C1;
    height:100%;
    width:15%;
    border-radius:15px;
}

.big {
    font-size: 2rem;
}

.fixed {
    position:fixed;
}
